.admin__content {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

.admin__header {
    font-size: 30px;
}

.admin__main {
    width: 100%;
}

.admin__link {
    width: 55%;
    max-width: 250px;
    margin: 0 auto;
}

.admin__link-item {
    text-decoration: none;
    color: #3560f6;
    font-size: 28px;
    font-weight: bold;
}