.representative__content {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

.representative__header {
    font-size: 30px;
}

.representative__main {
    width: 100%;
}

.representative__link-item {
    text-decoration: none;
    color: #3560f6;
    font-size: 28px;
    font-weight: bold;
}