.list__content {
    width: 100%;
}

.content__header {
    width: 98%;
    display: flex;
    align-items: center;
    border-bottom: solid 1px;
    margin-left: 1%;
    margin-right: 1%;
}

.return__link {
    width: 60px;
    height: 35px;
    background-color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
}

.back__button {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.header__ttl {
    margin-left: 2%;
}

.date {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.date form .before,
.after {
    width: 45px;
    border-color: #0c7ce4;
    font-size: 20px;
    color: #0c7ce4;
    background-color: #fff;
}

.date form .before:hover {
    color: #fff;
    background-color: #0c7ce4;
}

.date form .after:hover {
    color: #fff;
    background-color: #0c7ce4;
}

.date__today {
    font-size: x-large;
    margin: 0 40px;
}

.content__main {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 20px;
}

.reservation__table {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.title__row {
    width: 100%;
    padding: 0 50px;
    line-height: 50px;
    border-bottom: 1px solid #464545;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__label {
    width: 24%;
    white-space: nowrap;
    margin-left: 1%;
}

.value__row {
    width: 100%;
    padding: 0 50px;
    border-top: 1px solid #464545;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1px;
}

.value__list {
    white-space: nowrap;
    width: 24%;
    margin-left: 1%;
}

@media screen and (max-width: 768px) {
    .table__label {
        width: 20%;
        margin-right: 5%;
        font-size: clamp(14px, 1vw, 24px);   
    }

    .value__list {
        width: 20%;
        margin-right: 5%;
        font-size: clamp(14px, 1vw, 24px);
    }
}