.list__content {
    width: 100%;
}

.content__header {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: solid 1px;
}

.return__link {
    width: 60px;
    height: 35px;
    background-color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
}

.back__button {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.header__ttl {
    margin-left: 2%;
}

.content__main {
    width: 100%;
    padding-top: 20px;
    display: flex;
}

.reservation__table {
    margin: 0 auto;
    text-align: left;
    
}

.title__row {
    white-space: nowrap;
    padding: 0 50px;
    line-height: 50px;
    border-top: 1px solid #464545;
    font-size: 20px;
    
}

.table__label {
    white-space: nowrap;
    padding: 15px 100px 15px 60px;
}

.value__row {
    padding: 10 0 10 50;
    border-top: 1px solid #464545;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
}

.value__list {
    padding: 15px 100px 15px 60px;
}