body {
    height: 100vh;
    width: 100vw;
    background-color: #eeeeee;
    position: relative;

}

header {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    margin: 0 auto;
}

.header__left {
    display: flex;
    justify-content: space-between;
}

.hamburger__menu {
    display: flex;
    align-items: center;
}

.menu__hidden {
   display: none;
}

.menu__btn {
    position: fixed;
    display: flex;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    cursor: pointer;
    background-color: #3560f6;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
}

.menu__btn span,
.menu__btn span:before,
.menu__btn span:after {
    content: "";
    display: block;
    height: 1px;
    width: 16px;
    border-radius: 3px;
    background-color: #fff;
    transition: all 300ms 0s ease;
    position: absolute;
}

.menu__btn span:before {
    bottom: 6px;
    width: 10px;
}

.menu__btn span:after {
    top: 6px;
    width: 6px;
}

#menu__btn-check:checked~.menu__btn span {
    /*メニューオープン時は真ん中の線を透明にする*/
    background: rgba(255, 255, 255, 0);
}

#menu__btn-check:checked~.menu__btn span::before {
    bottom: 0;
    transform: rotate(45deg);
    width: 16px;
    transition: all 300ms 0s ease;
}

#menu__btn-check:checked~.menu__btn span::after {
    top: 0;
    transform: rotate(-45deg);
    width: 16px;
    transition: all 300ms 0s ease;
}

.menu__content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
    transform: translateY(-100%);
    transition: all 500ms 0s ease;
    
}

#menu__btn-check:checked~.menu__btn {
    z-index: 103;
}

#menu__btn-check:checked~.menu__content {
    z-index: 102;
    transform: translateY(0);
    /*メニューを画面内へ*/
    top: 0;
}

.menu__list {
    list-style: none;
    font-size: 2rem;
    width: 100%;
    height: 80%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.menu__item {
    text-align: center;
    padding-bottom: 30px;
    display: block;
}

.menu__item:hover {
    opacity: 0.6;
}

.menu__item-link {
    color: #3560f6;
    text-decoration: none;
    font-weight: bold;
}

.header__logo {
    font-size: 1.8rem;
    color: #3560f6;
    padding-left: 16px;
}

main {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #eeeeee;
}
