.content__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px ;
}

.header__group {
    width: 50%;
    display: flex;
    align-items: center;
}

.return__link {
    height: 28px;
    width: 28px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    text-align: center;
    background-color: #fff;
}

.return__btn {
    text-decoration: none;
    line-height: 28px;
    font-weight: bold;
}

.header__ttl {
    margin-left: 2%;
}

.rating__average {
    width: 40%;
}

.star5__rating {
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #cccccc;
    font-size: 1.5rem;
}

.star5__rating:before, .star5__rating:after {
    content: '★★★★★';
    font-size: 1.5rem;
}

.star5__rating:after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcf32;
}

.star5__rating[data-rate="5.0"]:after {
    width: 100%;
}

.star5__rating[data-rate="4.9"]:after {
    width: 98%;
}

.star5__rating[data-rate="4.8"]:after {
    width: 96%;
}

.star5__rating[data-rate="4.7"]:after {
    width: 94%;
}

.star5__rating[data-rate="4.6"]:after {
    width: 92%;
}

.star5__rating[data-rate="4.5"]:after {
    width: 90%;
}

.star5__rating[data-rate="4.4"]:after {
    width: 88%;
}

.star5__rating[data-rate="4.3"]:after {
    width: 86%;
}

.star5__rating[data-rate="4.2"]:after {
    width: 84%;
}

.star5__rating[data-rate="4.1"]:after {
    width: 82%;
}

.star5__rating[data-rate="4.0"]:after {
    width: 80%;
}

.star5__rating[data-rate="3.9"]:after {
    width: 78%;
}

.star5__rating[data-rate="3.8"]:after {
    width: 76%;
}

.star5__rating[data-rate="3.7"]:after {
    width: 74%;
}

.star5__rating[data-rate="3.6"]:after {
    width: 72%;
}

.star5__rating[data-rate="3.5"]:after {
    width: 70%;
}

.star5__rating[data-rate="3.4"]:after {
    width: 68%;
}

.star5__rating[data-rate="3.3"]:after {
    width: 66%;
}

.star5__rating[data-rate="3.2"]:after {
    width: 64%;
}

.star5__rating[data-rate="3.1"]:after {
    width: 62%;
}

.star5__rating[data-rate="3.0"]:after {
    width: 60%;
}

.star5__rating[data-rate="2.9"]:after {
    width: 58%;
}

.star5__rating[data-rate="2.8"]:after {
    width: 56%;
}

.star5__rating[data-rate="2.7"]:after {
    width: 54%;
}

.star5__rating[data-rate="2.6"]:after {
    width: 52%;
}

.star5__rating[data-rate="2.5"]:after {
    width: 50%;
}

.star5__rating[data-rate="2.4"]:after {
    width: 48%;
}

.star5__rating[data-rate="2.3"]:after {
    width: 46%;
}

.star5__rating[data-rate="2.2"]:after {
    width: 44%;
}

.star5__rating[data-rate="2.1"]:after {
    width: 42%;
}

.star5__rating[data-rate="2.0"]:after {
    width: 40%;
}

.star5__rating[data-rate="1.9"]:after {
    width: 38%;
}

.star5__rating[data-rate="1.8"]:after {
    width: 36%;
}

.star5__rating[data-rate="1.7"]:after {
    width: 34%;
}

.star5__rating[data-rate="1.6"]:after {
    width: 32%;
}

.star5__rating[data-rate="1.5"]:after {
    width: 30%;
}

.star5__rating[data-rate="1.4"]:after {
    width: 28%;
}

.star5__rating[data-rate="1.3"]:after {
    width: 26%;
}

.star5__rating[data-rate="1.2"]:after {
    width: 24%;
}

.star5__rating[data-rate="1.1"]:after {
    width: 22%;
}

.star5__rating[data-rate="1.0"]:after {
    width: 20%;
}

.star5__rating[data-rate="0.9"]:after {
    width: 18%;
}

.star5__rating[data-rate="0.8"]:after {
    width: 16%;
}

.star5__rating[data-rate="0.7"]:after {
    width: 14%;
}

.star5__rating[data-rate="0.6"]:after {
    width: 12%;
}

.star5__rating[data-rate="0.5"]:after {
    width: 10%;
}

.star5__rating[data-rate="0.4"]:after {
    width: 8%;
}

.star5__rating[data-rate="0.3"]:after {
    width: 6%;
}

.star5__rating[data-rate="0.2"]:after {
    width: 4%;
}

.star5__rating[data-rate="0.1"]:after {
    width: 2%;
}

.star5__rating[data-rate="0.0"]:after {
    width: 0%;
}

.review__num {
    width: 20%;
}

.content__main {
    width: 100%;
}

.user__container {
    width: 100%;
    display: flex;
    border-bottom: solid 1px;

}

.container__group {
    width: 18%;
}

.user__comment {
    width: 50%;
    
}

.user__review-img {
    width: 31%;
    height: 100%;
    margin-left: 1%;
    
}

.review__image {
    width: 50%;
    height: 45%;
}

.modal-checkbox {
    display: none;
}

.modal-open-button {
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    transform: translate(50%, -50%);
}

.modal-wrapper {
    position: relative;
    width: 70%;
    height: 70%;
    padding: 20px;
    margin: auto;
    overflow: scroll;
    background-color: #FEFEFE;
}

.modal-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-checkbox:checked+.modal {
    display: flex;
}

.pagenation {
    width: 11%;
}