.content__wrap {
    width: 100%;
}

.card {
    width: 40%;
    border: none;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 2px 2px 5px gray;
    margin-bottom: 2%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 8%;
}

.content__message {
    padding: 15% 15% 5% 15%;
    font-size: 25px;
}

.content__link {
    width: 25%;
    text-align: center;
    padding: 2% 0;
    margin-left: 5%;
    cursor: pointer;
    background-color: #3560f6;
    border-radius: 5px;
    margin: 0 auto;
}

.link__btn {
    font-size: 100%;
    color: #fff;
    text-decoration: none;
}